{
  // "presets": [
  //   ["@babel/preset-env", {
  //     "useBuiltIns": "entry",
  //     "corejs": 2
  //   }]
  // ]
  "presets": [["@babel/preset-env", { "modules": false }], "@vue/babel-preset-jsx"],
  "plugins": ["@babel/plugin-proposal-optional-chaining"]
}
